/* -----------------------------------------------
>>> TABLE OF CONTENTS 
--------------------------------------------------
# Generic (Normalize.css)
    - Normalize
    - Box Sizing
    - Media Width
# Base (Base.css)
    - Accessibility
    - Typography
    - Links
    - Header
    - Social Media Icons
    - Footer
# Components
    - Main
        *H1
        *Blockquote
        *Grid - Before Terraforming
        *Grid - After Terraforming
        *Grid - What is Terraforming
        *Grid - Acheron Today
    ------------------------------------------------ */

/* Main ---------------------------------------*/

/* H1 ---------- */

h1 {
    color: white;
    text-shadow: 0 0 10px #c7da3b, 0 0 20px #cfdc70;
    text-align: center;
    margin: 0 20px;
    padding-top: 120px;
    font-size: clamp(3rem, 4vw, 4rem);
}

@media (min-width: 50em) {
    h1 {
        padding-top: 80px;
        font-size: clamp(5rem, 4vw, 5.5rem);
    }
}

/* Blockquote ----- */

.quote {
    text-align: center;
    color: white;
    margin: 10px 20px;
}

@media (min-width: 50em) {
    .quote {
        text-align: center;
        margin: 0 20px;
    }
}

/* Grid - Before ----- */

.terraforming1 {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.terra1-img,
.terra1 {
    display: block;
    border: 2px solid #bfd084;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.terra1-img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 25px 25px 0px 0px;
}

.terra1 {
    padding: 10px;
    color: #bfd084;
    border-radius: 0px 0px 25px 25px;
}

@media (min-width: 50em) {

    .terra1-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 25px 0px 0px 25px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }

    .terraforming1 {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        margin: 40px 40px 40px;
    }

    .terra1 {
        border-radius: 0px 25px 25px 0px;
    }
}

/* Grid - After ----- */

.terraforming2 {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.terra2,
.terra2-img {
    display: block;
    border: 2px solid #bfd084;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.terra2 {
    padding: 10px;
    color: #241023;
    background-color: #bfd084;
    border-radius: 25px 25px 0px 0px;
}

.terra2-img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 0px 0px 25px 25px;
}

@media (min-width: 50em) {

    .terraforming2 {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        margin: 20px 40px 40px;
    }

    .terra2 {
        border-radius: 25px 0px 0px 25px;
    }

    .terra2-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}

/* Grid - What is? ----- */

.terra-info {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.terra-info-img,
.terra-info-p2 {
    display: block;
    border: 2px solid #bfd084;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.terra-info-img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 25px 25px 0px 0px;
}

.terra-info-p2 {
    padding: 10px;
    color: #bfd084;
    border-radius: 0px 0px 25px 25px;
}

@media (min-width: 50em) {

    .terra-info {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        margin: 20px 40px 40px;
    }

    .terra-info-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 25px 0px 0px 25px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }

    .terra-info-p2 {
        border-radius: 0px 25px 25px 0px;
    }
}

/* Grid - Today ----- */

.today {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.today-p2,
.today-img {
    display: block;
    border: 2px solid #bfd084;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.today-p2 {
    padding: 10px;
    color: #241023;
    background-color: #bfd084;
    border-radius: 25px 25px 0px 0px;
}

.today-img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 0px 0px 25px 25px;
}

@media (min-width: 50em) {

    .today {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        margin: 20px 40px 40px;
    }

    .today-p2 {
        border-radius: 25px 0px 0px 25px;
    }

    .today-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}