/* -----------------------------------------------
>>> TABLE OF CONTENTS 
--------------------------------------------------
# Accessibility
# Typography
# Links
# Header
# Social Media Icons
# Footer
------------------------------------------------ */

/* Accessibility ---------------------------------- */

.screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

html {
    scroll-behavior: smooth;
}

@media(prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Typography ---------------------------------- */

body {
    font-family: "Saira", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 100%;
    background-color: #271228;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 550;
    text-align: center;
}

h1 {
    /* font-size: 4rem; */
    font-size: clamp(3rem, 4vw, 4rem);
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0;
}

p {
    max-width: fit-content;
    margin: 10px 20px;
}

ul {
    /* margin-left: 20px; */
    margin-right: 20px;
}

/* Links -------------------------------------*/

a:link {
    color: #eceee3;
    text-decoration: none;
}

a:visited {
    color: #f7de61;
    text-decoration: none;
}

a:hover {
    color: #f8a618;
    border: 2px solid #f8a618;
    text-decoration: none;
}

a:active {
    color: #cfdc70;
    text-decoration: none;
}

a:focus {
    color: #f8a618;
    text-decoration: none;
}

/* Header ------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000001;
    opacity: 0.9;
    z-index: 3;
    padding: 0 8px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    gap: 5px;
}

#logo {
    height: 2.8rem;
    width: 2.8rem;
}

.nav-menu ul {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-menu a {
    text-decoration: none;
    padding: 3px;
}

@media (min-width: 50em) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .site-name {
        margin-top: 5px;
    }

    .logo {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        align-items: center;

    }

    .logo a {
        padding: 10px
    }

    .nav-menu ul {
        display: flex;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
    }

    .nav-menu a {
        padding: 10px;
    }
}

/* Social Media Icons ------------------------------*/

.social-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    margin-left: 20;
    padding-left: 0;
    gap: 30px;
}

.social-links a:hover {
    border: none;
    text-decoration: none;
}

@media (min-width: 50em) {
    .social-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        gap: 50px;
    }
}

/* Footer -------------------------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000001;
    color: white;
    right: 0;
    left: 0;
}

footer a {
    padding: 3px;
}

@media (min-width: 50em) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer a {
        padding: 10px;
    }
}