/* -----------------------------------------------
>>> TABLE OF CONTENTS 
--------------------------------------------------
# Generic (Normalize.css)
    - Normalize
    - Box Sizing
    - Media Width
# Base (Base.css)
    - Typography
    - Links
    - Header
# Components
    - Header
    - Main
        *H1
        *Grid - Etymology
        *Grid - Hadley's Hope
        *Grid - Ellen Ripley
    - Footer 
    ------------------------------------------------ */

/* Main ---------------------------------------*/

/* H1 ----- */

h1 {
    color: white;
    text-shadow: 0 0 10px #c7da3b, 0 0 20px #cfdc70;
    text-align: center;
    margin: 0 20px;
    padding-top: 150px;
    /* width: min-content; */
}

@media (min-width: 50em) {
    h1 {
        padding-top: 40px;
    }
}

/* Blockquote ----- */

.quote {
    text-align: center;
    color: white;
    padding-bottom: 20px;
    margin: 10px 20px;
}

@media (min-width: 50em) {
    .quote {
        text-align: center;
        margin: 0 20px;
    }
}

/* Grid - Before ----- */

.terraforming1 {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.terra1 {
    display: block;
    padding: 10px;
    color: #bfd084;
    border: 2px solid #bfd084;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.terra1-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: fill;
    border: 2px solid #bfd084;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

@media (min-width: 50em) {

    .terraforming1 {
        display: grid;
        justify-self: center;
        grid-template-columns: 2fr 1fr;
        margin: 20px 40px 40px;
    }

    .terra1 {
        border-radius: 25px 0px 0px 25px;
        display: grid;
        justify-self: center;
    }

    .terra1-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}

/* Grid - After ----- */

.terraforming2 {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.terra2 {
    display: block;
    padding: 10px;
    color: #241023;
    background-color: #bfd084;
    border: 2px solid #bfd084;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.terra2-img {
    /* height: 100%;
    object-position: 60% 90%; */
    display: block;
    width: 100%;
    height: auto;
    object-fit: fill;
    border: 2px solid #bfd084;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

@media (min-width: 50em) {

    .terraforming2 {
        display: grid;
        justify-self: center;
        /* align-self: center; */
        grid-template-columns: 2fr 1fr;
        margin: 20px 40px 40px;
    }

    .terra2 {
        border-radius: 25px 0px 0px 25px;
        display: grid;
        justify-self: center;
    }

    .terra2-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}

/* Grid - What is? ----- */

.terra-info {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.terra-info-p2 {
    display: block;
    padding: 10px;
    color: #bfd084;
    border: 2px solid #bfd084;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.terra-info-img {
    /* height: 100%;
    object-position: 60% 90%; */
    display: block;
    width: 100%;
    height: auto;
    object-fit: fill;
    border: 2px solid #bfd084;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

@media (min-width: 50em) {

    .terra-info {
        display: grid;
        justify-self: center;
        /* align-self: center; */
        grid-template-columns: 2fr 1fr;
        margin: 20px 40px 40px;
    }

    .terra-info-p2 {
        border-radius: 25px 0px 0px 25px;
        display: grid;
        justify-self: center;
    }

    .terra-info-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}

/* Grid - Today ----- */

.today {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.today-p2 {
    display: block;
    padding: 10px;
    color: #241023;
    background-color: #bfd084;
    border: 2px solid #bfd084;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.today-img {
    /* height: 100%;
    object-position: 60% 90%; */
    display: block;
    width: 100%;
    height: auto;
    object-fit: fill;
    border: 2px solid #bfd084;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

@media (min-width: 50em) {

    .today {
        display: grid;
        justify-self: center;
        /* align-self: center; */
        grid-template-columns: 2fr 1fr;
        margin: 20px 40px;
    }

    .today-p2 {
        border-radius: 25px 0px 0px 25px;
        display: grid;
        justify-self: center;
    }

    .today-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}

/* Social Media Icons ----- */

.social-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    margin-left: 20;
    padding-left: 0;
    gap: 30px;
}

.social-links a:hover {
    border: none;
    text-decoration: none;
}

@media (min-width: 50em) {
    .social-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        gap: 50px;
    }
}

/* Footer -------------------------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000001;
    color: white;
    right: 0;
    left: 0;
}

footer a {
    padding: 3px;
}

@media (min-width: 50em) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer a {
        padding: 10px;
    }
}