/* -----------------------------------------------
>>> TABLE OF CONTENTS 
--------------------------------------------------
# Generic (Normalize.css)
    - Normalize
    - Box Sizing
    - Media Width
# Base (Base.css)
    - Accessibility
    - Typography
    - Links
    - Header
    - Social Media Icons
    - Footer
# Components
    - Main
        *H1
        *Grid - Etymology
        *Grid - Hadley's Hope & Ellen Ripley
    ------------------------------------------------ */


/* Main ---------------------------------------*/

/* H1 ----- */

h1 {
    color: white;
    text-shadow: 0 0 10px #c7da3b, 0 0 20px #cfdc70;
    text-align: center;
    margin: 0 20px;
    padding-top: 120px;
    padding-bottom: 20px;
    font-size: clamp(3rem, 4vw, 4rem);
}

@media (min-width: 50em) {
    h1 {
        padding-top: 80px;
        padding-bottom: 0;
        font-size: clamp(5rem, 4vw, 5.5rem);
    }
}

/* Grid - Etymology ----- */

.etymology {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.grid1-text,
.grid1-img {
    display: block;
    border: 2px solid #bfd084;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.grid1-text {
    padding: 10px;
    color: #bfd084;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.grid1-img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 25px 25px 0px 0px;
}

@media (min-width: 50em) {

    .etymology {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        margin: 20px 40px 40px;
    }

    .grid1-text {
        border-radius: 0px 25px 25px 0px;
    }

    .grid1-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 25px 0px 0px 25px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}

/* Grid - Hadley's Hope ----- */

.hadley-ripley {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 0;
}

.grid2-text,
.grid2-img {
    display: block;
    border: 2px solid #bfd084;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.grid2-text {
    padding: 10px;
    color: #241023;
    background-color: #bfd084;
    border-radius: 25px 25px 0px 0px;
}

.grid2-img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 0px 0px 25px 25px;
}

.grid2-text a:link {
    color: #66005E;
}

.grid2-text a:visited {
    color: #10275B;
    text-decoration: none;
}

.grid2-text a:hover {
    color: #f8a618;
    background-color: #1F3D00;
    border: none;
    text-decoration: none;
}

.grid2-text a:active {
    color: #10275B;
    text-decoration: none;
}

.grid2-text a:focus {
    color: #f8a618;
    text-decoration: none;
}

@media (min-width: 50em) {

    .hadley-ripley {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        margin: 20px 40px 40px;
    }

    .grid2-text {
        border-radius: 25px 0px 0px 25px;
    }

    .grid2-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 35% 50%;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }
}