/* -----------------------------------------------
>>> TABLE OF CONTENTS 
--------------------------------------------------
# Generic (Normalize.css)
    - Normalize
    - Box Sizing
    - Media Width
# Base
    - Typography
    - Links
# Components
    - Header
    - Main
        *Banner
        *Blockquote
        *Grid
    - Footer
------------------------------------------------ */

/* ---------------------------------------------
# BASE------------------------------------------ 
------------------------------------------------ */

/* Typography ---------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Saira", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 100%;
    background-color: #271228;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 550;
    text-align: center;
}

h1 {
    font-size: 4.9rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}

p {
    max-width: fit-content;
}

ul {
    margin-left: 20px;
    margin-right: 20px;
}

/* Links -------------------------------------*/

.nav-menu a {
    text-decoration: none;
    padding: 10px;
}

footer a {
    padding: 10px;
}

a:link {
    color: #eceee3;
    text-decoration: none;
}

a:visited {
    color: #f7de61;
    text-decoration: none;
}

a:hover {
    color: #f8a618;
    border: 2px solid #6b35a1;
    text-decoration: none;
}

a:active {
    color: #cfdc70;
    text-decoration: none;
}

a:focus {
    color: #b376af;
    text-decoration: none;
}

/* ---------------------------------------------
# COMPONENTS------------------------------------ 
------------------------------------------------ */

/* Header ------------------------------------*/

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000001;
    opacity: 0.8;
    z-index: 3;
}

.site-name {
    margin-left: 20px;
    padding: 10px;
}

.nav-menu ul {
    list-style: none;
}

@media (min-width: 50em) {
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 10px;
    }

    .nav-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

/* Main ---------------------------------------*/

/* Banner ----- */

.banner {
    position: relative;
}

.banner h1 {
    position: absolute;
    width: fit-content;
    top: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #c7da3b, 0 0 20px #cfdc70;
}

/* ------------ Neon effect from CSS Tricks */

video {
    object-fit: cover;
    display: block;
    object-position: 50% 50%;
    width: 100%;
    height: 20rem;
}

@media (min-width: 50em) {
    .banner h1 {
        top: 80px;
    }
}

/* Blockquote ----- */

.quote {
    color: white;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Grid - Info ----- */

.grid-1 {
    display: flex;
    flex-wrap: wrap;
}

.grid-info1,
.grid-info2 {
    margin: 0 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #bfd084;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

.grid-info1 {
    color: #bfd084;
    border-radius: 25px 25px 0px 0px;

}

.grid-info2 {
    background-color: #bfd084;
    border-radius: 0px 0px 25px 25px;
}

@media (min-width: 50em) {

    .grid-1 {
        display: grid;
        justify-self: center;
        grid-template-columns: 800px 350px;
        align-items: stretch;
    }

    .grid-info1 {
        border-radius: 25px 0px 0px 25px;
        margin: 20px 0px;
        box-sizing: border-box;
    }

    .grid-info2 {
        border-radius: 0px 25px 25px 0px;
        margin: 20px 0px;
        box-sizing: border-box;
    }
}

/* Grid - Contact ----- */

.grid-contact {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.contact-us {
    display: block;
    padding: 10px;
    background-color: #bfd084;
    border: 2px solid #bfd084;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

img.home-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #bfd084;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
}

@media (min-width: 50em) {

    .grid-contact {
        display: grid;
        justify-self: center;
        grid-template-columns: 700px 450px;
    }

    .contact-us {
        border-radius: 25px 0px 0px 25px;
    }

    img.home-image {
        display: block;
        width: 100%;
        height: 620px;
        object-fit: cover;
        border-radius: 0px 25px 25px 0px;
        box-shadow: 0 0 3px #fff, 0 0 6px #cae75f, 0 0 10px #cae75f, 0 0 12px #cae75f;
    }

    div.grid-contact {
        display: grid;
        justify-self: center;
        grid-template-columns: 700px 450px;
    }
}

/* Form ----- */
form {
    display: block;
    justify-self: left;
    margin-left: 20px;
    margin-right: 20px;
}

form label {
    display: block;
}

form input {
    display: block;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border: 1px solid #33074d;
    border-radius: 8px;
    vertical-align: middle;
}

input[type=email] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border: 1px solid #33074d;
    border-radius: 8px;
    vertical-align: middle;
}

input[type=submit] {
    width: 30%;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #33074d;
    border-radius: 8px;
    align-self: left;
}

@media (min-width: 50em) {
    input[type=text] {
        width: 150%;
    }

    input[type=email] {
        width: 150%;
    }

    input[type=submit] {
        align-self: center;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #141414;
        color: #fff;
    }

    input[type=text]:focus {
        border: 2px dotted #c17d08;
    }

    /* ---------------- Form styles from W3Schools */
}

/* Footer -------------------------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000001;
    color: white;
    margin-top: 20px;
    right: 0;
    left: 0;
}

@media (min-width: 50em) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}